<mat-card>
  <mat-card-header>
    <mat-card-title class="d-flex">
      <span class="title flex-1">Lista de productos</span>
      <button mat-raised-button color="primary" (click)="openCreateDialog()">
        + Nuevo producto
      </button>
    </mat-card-title>
  </mat-card-header>

  <mat-table [dataSource]="products" class="mat-elevation-z1">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let p"> {{ p.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let p"> {{ p.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
      <mat-cell *matCellDef="let p"> S/ {{ p.unitPrice }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
      <mat-cell *matCellDef="let p"> {{ p.stocks }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Vencimiento </mat-header-cell>
      <mat-cell *matCellDef="let p"> {{ p.expirationDate | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
      <mat-cell *matCellDef="let p"> {{ p.category?.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let p">
        <span [ngClass]="p.status === '1' ? 'text-success' : 'text-danger'">
          {{ p.status === '1' ? 'Activo' : 'Inactivo' }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let p">
        <button mat-icon-button color="warn" (click)="delete(p.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
