body {
    background-color: #f8f9fa;
}

.card {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    border: none;
}

.btn-primary {
    background-color: #6d1b1b;
    border: none;
}
