body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ff6347;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 24px;
    color: white;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #fff;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.hero-image img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
    top: -10%;
    left: 0;
}

.products {
    padding: 50px;
    background-color: #fff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff6347;
    color: white;
}


